<div class="ip-about-block">{{#has_about}}<div class="ip-about"><div class="ip-about__text" id="ip-about-text">{{about_text}}</div><button type="button" class="ip-about__toggle" hidden aria-expanded="false" aria-controls="ip-about-text"><span class="ip-about__toggle-more">{{about_more}}</span><span class="ip-about__toggle-less">{{about_less}}</span><svg class="ip-about__toggle-icon" viewBox="0 0 20 20" aria-hidden="true" focusable="false"><path fill="currentColor" d="M18 7.4 16.6 6 10 12.6 3.4 6 2 7.4l8 8z"/></svg></button></div>{{/has_about}}{{> wiki_profiles}}</div>
