<span class="ext-floatingui-content"><span class="ip-tip{{#tip_verified}} ip-tip--verified{{/tip_verified}}">{{#tip_verified}}<span class="ip-tip__badge" aria-hidden="true">{{> icon_verified_badge}}</span>{{/tip_verified}}{{#has_tip_url}}<a class="ip-tip__link" href="{{tip_url}}" rel="nofollow noopener" target="_blank">{{tip_text}}</a>{{/has_tip_url}}{{^has_tip_url}}{{tip_text}}{{/has_tip_url}}</span></span>
