<li class="ip-links__item ip-links__item--{{kind}}{{#verified}} ip-links__item--verified{{/verified}}">{{#has_url}}<a class="ip-links__anchor{{#use_floating_ui}} ext-floatingui-reference{{/use_floating_ui}}" href="{{url}}" rel="nofollow noopener" target="_blank"{{#show_title}} title="{{title}}"{{/show_title}} aria-label="{{aria_label}}"><span class="ip-links__icon" aria-hidden="true"></span>{{#show_corner_badge}}<span class="ip-links__badge" aria-hidden="true">{{> icon_verified_badge}}</span>{{/show_corner_badge}}</a>{{/has_url}}{{^has_url}}<span class="ip-links__anchor{{#use_floating_ui}} ext-floatingui-reference{{/use_floating_ui}}"{{#show_title}} title="{{title}}"{{/show_title}} aria-label="{{aria_label}}" role="img"><span class="ip-links__icon" aria-hidden="true"></span>{{#show_corner_badge}}<span class="ip-links__badge" aria-hidden="true">{{> icon_verified_badge}}</span>{{/show_corner_badge}}</span>{{/has_url}}{{#use_floating_ui}}{{> floating_tip}}{{/use_floating_ui}}</li>
