<nav class="ip-tabs" aria-label="{{nav_label}}"><ul class="ip-tabs__list" role="tablist">{{#tab_items}}<li class="ip-tabs__tab{{#active}} ip-tabs__tab--active{{/active}}" role="presentation"><a class="ip-tabs__link" role="tab" href="{{url}}" data-ip-tab="{{id}}"{{#active}} aria-current="page" aria-selected="true"{{/active}}{{^active}} aria-selected="false"{{/active}}>{{label}}</a></li>{{/tab_items}}</ul></nav>
