{{#has_wiki_profiles}}<ul class="ip-wiki-profiles" aria-label="{{wiki_profiles_label}}">{{#wiki_profile_items}}<li class="ip-wiki-profiles__item ip-wiki-profiles__item--{{kind}}"><a class="ip-wiki-profiles__anchor{{#use_floating_ui}} ext-floatingui-reference{{/use_floating_ui}}" href="{{url}}" rel="nofollow noopener" target="_blank"{{#show_title}} title="{{title}}"{{/show_title}} aria-label="{{title}}"><span class="ip-wiki-profiles__icon" aria-hidden="true"></span></a>{{#use_floating_ui}}{{> floating_tip}}{{/use_floating_ui}}</li>{{/wiki_profile_items}}</ul>{{/has_wiki_profiles}}
