.ip-user-card {
	display: block;
	box-sizing: border-box;
	min-width: 12rem;
	min-height: 4.5rem;
}

#ip-user-card-floating.ext-floatingui-floating {
	z-index: 1100;
}

#ip-user-card-floating .ext-floatingui-floating-content {
	padding: 0;
}
